.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-menu,
.navbar-menu li{
    display: flex;
    align-items: center;
}

.main-content .container{
    display: flex;
    justify-content: space-between;
}

label.logo {
	color: rgb(182, 22, 89);
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

.checkbtn {
	font-size: 30px;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#item {
    display: none;
}

.section-new-transaction,
.section-new-transaction form{
    display: flex;
    flex-direction: column;
  }


        /*Tablet */
@media screen and (max-width: 768px) {         
          .container {
                display: flex;
                width: 100%;
                flex-direction: column;
              } 
            
            .section-new-transaction {
                width: 100%;
                flex-direction: row;
                border: none;
               }
            
            .section-transaction-statement {
                width: 100%;
            }
            
            #input-transaction-type, #input-name, #input-price {
                display: flex;
                flex-direction: row;
            }

            label.logo{
                font-size: 30px;
                padding-left: 50px;
            }

            .buy-button {
                    justify-content: right;
                    height: 32px;
                    width: 200px;
                    left: 0px;
                    top: 0px;
                    border-radius: 4px;
               }
                        
            .navbar-brand {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                }

            .navbar-menu {
                display: flex;
                align-items: center;
                justify-content: right;
                }
        }
    
    
        /*Smartphone */
@media screen and (max-width: 411px) {         
            .section-new-transaction,
            .section-transaction-statement {
                Width: 100%; 
                flex-direction: column;
            }
          
            .navbar-brand {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .checkbtn {
                display: block;
            }
}
