.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-menu,
.navbar-menu li{
    display: flex;
    align-items: center;
}

.main-content .container{
    display: flex;
    justify-content: space-between;
}

div.line {
    display: flex;
    flex-direction: column;
}

#item {
    display: none;
}

.section-new-transaction,
.section-new-transaction form{
    display: flex;
    flex-direction: column;
  }


        /*Tablet */
@media screen and (max-width: 768px) {         
       
        .container {
                display: flex;
                width: 100%;
                flex-direction: column;
              } 

              .section-new-transaction h1, .section-transaction-statement {
                  text-align: left;
              }

              .section-new-transaction {
                width: 100%!important;
                border: none!important;
              }

              div.line {
                    display: block!important;
                    float: left;
                    margin: 0px;
                    flex-direction: row;
              }

         
            .section-transaction-statement {
                width: 100%!important;
            }
            
            #input-transaction-type, #input-name, #input-price {
                display: flex;
                flex-direction: row;
            }

            .buy-button {
                justify-content: right;
                height: 32px;
                width: 200px;
                left: 0px;
                top: 0px;
            }
                        
            .navbar-brand {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                }

            .navbar-menu {
                display: flex;
                align-items: center;
                justify-content: right;
                }
        }
    
    
        /*Smartphone */
@media screen and (max-width: 411px) {         
             
    .section-new-transaction,
            .section-transaction-statement {
                Width: 100%; 
                flex-direction: column;
            }
          
            .navbar-brand {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .checkbtn {
                display: block;
            }
}
